.places {
  width: 984px;
  margin: 0 auto;
  padding: 92px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media (max-width: 1279px) {
  .places {
    width: 928px;
  }
}

@media (max-width: 1023px) {
  .places {
    padding: 88px 0;
    width: 720px;
    gap: 73px;
  }
}

@media (max-width: 767px) {
  .places {
    padding: 65px 0;
    gap: 50px;
    width: 100%;
  }
}