.footer__container {
  display: flex;
  align-items: flex-end;
  column-gap: 18px;
  padding: 0 48px 24px;
  min-height: 134px;
}

@media (max-width: 767px) {
  .footer__container {
    min-height: 398px;
    padding: 0 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 32px;
    justify-content: end;
    width: 320px;
  }
}