.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0 0 25px;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media (max-width: 1279px) {
  .place__paragraph {
    width: 456px;
  }
}

@media (max-width: 1023px) {
  .place__paragraph {
    width: 352px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .place__paragraph {
    width: 288px;
    padding-left: 16px;
  }
}